
<div class="ContainerMain">
  <div class="HeaderContainer">
    <button routerLink="/" class="buttonBack"><img src="./assets/icons/iconBackArrow.svg">Voltar</button>
  </div>
  <div class="containerTeste">
    <form [formGroup]="formNotice" (ngSubmit)="salvarPost()">
      <div class="containerInput">
        <input>
        <label>Titulo da noticia:</label>
        <input
          type="text"
          placeholder="Digite o titulo da noticia"
          formControlName="title"
          style="width: 20rem"
          class="inputText"
        />
      </div>
      <div class="containerInput">
        <label>Imagem da noticia:</label>
        <input
          type="text"
          placeholder="Insira o link da imagem"
          formControlName="image"
          class="inputText"
          style="width: 20rem"
        />
      </div>
      <div class="containerInput">
        <label>Conteúdo:</label>
        <input
          type="text"
          placeholder="Digite o conteúdo"
          formControlName="body"
          style="width: 20rem"
          class="inputText"
        />
      </div>
      <button
        [disabled]="!formNotice.valid"
        type="submit"
        class="buttonEnviar"
      >
        Enviar
      </button>
    </form>
  </div>
</div>


