
<div class="ContainerMain">
  <div class="HeaderContainer">
    <button routerLink="/" class="buttonBack"><img src="./assets/icons/iconBackArrow.svg">Voltar</button>
  </div>
  <div class="containerTeste">
    <form [formGroup]="formNotice" (ngSubmit)="salvarPost()">
      <div class="containerInput">
        <label>Titulo da noticia : <span class="requiredField">*</span></label>
        <input
          type="text"
          placeholder="Digite o titulo da noticia"
          formControlName="title"

          class="inputText"
        />
      </div>
      <div class="containerInput">
        <label>Imagem da noticia: <span class="requiredField">*</span></label>
        <input
          type="text"
          placeholder="Insira o link da imagem"
          formControlName="image"
          class="inputText"
        />
      </div>
      <div class="containerInput">
        <label>Conteúdo: <span class="requiredField">*</span></label>
        <textarea
          placeholder="Digite o conteúdo"
          formControlName="body"
          class="inputText inputContent"
        ></textarea>
      </div>
      <button
        type="submit"
        class="buttonEnviar"
      >
        Salvar
      </button>
      <span class="fillFields" *ngIf="emptyField"><em> *Preencha todos os campos*</em></span>
    </form>
  </div>
</div>


