
<div class="ContainerMain">
  <button id="back-to-top" (click)="goToTop()"></button>
  <div class="HeaderContainer">
    <button routerLink="create" class="buttonAddNotice"><img src="./assets/icons/iconAddWhite.svg">Nova Noticia</button>
    <div class="showSearchResult" *ngIf="search != ''" >
      <h3>Exibindo resultado de busca por "{{search}}"</h3>
      <p>Encontramos um total de {{listAllNews.length}} resultados para sua busca</p>
    </div>
  </div>
  <div class="ContainerContent">
    <div class="ContainerListNotices">
      <div class="listEmpty" *ngIf="listAllNews.length === 0"><p>Lista vazia</p></div>
      <app-notice-card *ngFor="let notice of listAllNews" [notice]="notice"></app-notice-card>
    </div>
    <div class="SearchContainerMain">
      <p class="titleCategoria">Categorias</p>
      <p class="loremCategoria"><a href="#3">Lorem ipsum color</a></p>
      <hr class="lineGrey">
      <p class="loremCategoria"><a href="#">Lorem ipsum color</a></p>
      <hr class="lineGrey">
      <p class="loremCategoria"><a href="#">Lorem ipsum color</a></p>
      <hr class="lineGrey">
      <p class="loremCategoria"><a href="#">Lorem ipsum color</a></p>
      <hr class="lineGrey">
      <div class="search-container">
        <p class="titleCategoria">Procurando alguma noticia?</p>
        <div>
          <input type="text" class="search-bar" [(ngModel)]="search" (input)="searchFunc()"  placeholder="Pesquise por...">
          <a href="#"><img class="search-icon" src="./assets/icons/iconSearchBar.svg"></a>
        </div>

      </div>
    </div>

  </div>

</div>


